<!--INICIO DO CARRINHO-->
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div *ngIf="!itemsCart().length">
      <p class="text-center">
        Seu carrinho está vazio
      </p>
    </div>

    <div class="table-responsive" *ngIf="itemsCart().length">
      <table class="table">
        <tbody>
          <tr *ngFor="let item of itemsCart()">
            <th style="width:60%">{{ item.qtd }}x {{ item.menuItem.name }}</th>
            <td class="text-right">{{ item.valor() | currency: 'BRL' : true }}</td>
            <td class="text-right"> <a (click)="removeItemCart(item)" class="btn btn-link">x</a> <i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <th>Total:</th>
            <td class="text-right">{{ calcPriceCart() | currency: 'BRL' : true }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer" *ngIf="itemsCart().length">
    <div class="pull-right">
      <button (click)="clearCart()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
      &nbsp;
      <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>
<!-- FIM DO CARRINHO -->
