<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Faça o login
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label sr-only" for="email"><i class="fa fa-check"></i> E-mail ou usuário</label>

            <app-input mensagem="O e-mail é obrigatório">
              <input formControlName="user" type="email" class="form-control" id="email" placeholder="E-mail ou usuário:">
            </app-input>

          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label sr-only" for="senha"><i class="fa fa-check"></i> Senha</label>

            <app-input mensagem="A senha é obrigatória">
              <input formControlName="password" type="password" class="form-control" id="senha"
                placeholder="Senha:">
            </app-input>

          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <button [disabled]="!loginForm.valid" (click)="validLogin(loginForm.value)" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>Fazer login</button>
        </div>
      </div>

    </form>

  </section>
</section>
